.book_form {
    margin-top: 42px;
    overflow: hidden;
    padding: 5px 0;

    dl {
        float: left;
        text-align: center;
        margin: 0;
    }
    dt {
        color: #888;
        font-size: 0.8em;
    }

    &_date {

        dt {
            width: 85px;
            height: 30px;
        }
        dd {
            width: 85px;
            height: 30px;
            line-height: 30px;
        }

        &_title {
            width: 150px !important;
        }

        &_cont {
            width: 150px !important;

            &_input {
                border: none;
                text-align: center;
                width: 150px;
            }
        }
    }

    &_room {

        dt {
            width: 80px;
            height: 30px;
        }

        dd {
            width: 80px;
            height: 30px;
            line-height: 30px;
        }
    }

    &_btn {
        float: right;
    }
}